@import url(color.css);

body.dark{
    color: var(--blanco);
    background-color: var(--negro-claro);
}

body.dark .header,
body.dark .main,
body.dark .aside-izquierdo,
body.dark .navbar-pushbar,
body.dark .footer{
    background-color: var(--negro);
    box-shadow: 0px 3px 4px var(--morado);
}

body.dark .close-pushbar{
    color: var(--blanco);
}

body.dark .navbar-pushbar a{
    color: var(--blanco);
}