:root{
    --beige : #f5f5dc;
    --bisque : #ffe4c4;
    --cornsilk : #fff8dc;
    --Durazno-suave : rgb(216, 182, 138);
    --negro : rgb(0,0,0);
    --negro-claro : #1e1e1ed2;
    --blanco : #fff;
    --morado : #dd1bb3;
    --khaki : #f0e68c;
    --tan : #d2b48c;
    --blanco-oscuro : #494848e1;
    --cyan : #00ffff;
    --rojo : #ff0000; 
}